
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
display: inline }

.test{
    background-color: rgb(46, 19, 145);
   
}
.divMain{
    height: 100%;
    width: 45%;
    position: relative;
    display: inline-table;
    margin-left: 2%;
}
mat-grid-list{
    margin-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: rgb(5, 0, 0);
    color: white;
    text-align: center;
 } */

 .flexdiv{
    margin: 5%;
    display: flex;
    flex-direction: row;
    
}
.paneldiv{
    flex: 1;
    height: 100%;
}

@media screen and (max-width:760px){
    .flexdiv{
      flex-direction: column;
    }
}