
<!-- <mat-grid-list cols="3" gutterSize="10px">
   
    <mat-grid-tile rowspan="1"> 
        <app-login ></app-login>
    </mat-grid-tile>    
    <mat-grid-tile rowspan="1">
        <app-panelb></app-panelb>
    </mat-grid-tile>  
    <mat-grid-tile class="test"  rowspan="1">
        <app-panelc></app-panelc>
    </mat-grid-tile>  
</mat-grid-list>  -->
<!-- <a routerLink="/login">login</a>
    <a routerLink="/register">register</a> -->  
    <div class="divMain">
    <app-login ></app-login>
</div>
<div class="divMain">
    <app-panelb></app-panelb>
    <div>
        <app-panelc></app-panelc>
    </div>
</div>