/* html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.example-spacer {
  flex: 1 1 auto;
}

a {
  font-family: "Potta One", cursive;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
} */

.example-spacer {
  flex: 1 1 auto;
}
   
  
.header {
    background-color:#4c5baf;
    font-size: 26px;
    font-family: 'Yomogi', cursive;
}
