mnc, ncvbm,nbnn.b,vmbn,.mnb,vmcv,n.m/.n,bmvcv,.lmndbfgfg.kmm.kghgk
<div *ngIf="us.loggedUser.role  === 'guest'"> 
<form [formGroup]="myform" (submit)="handleSubmit()">
    <mat-form-field> 
        <input type="email" placeholder="UserName" name="userName" formControlName="userName" matInput>  
        <span *ngIf="myform.controls.userName.dirty&&myform.controls.userName.invalid">Please enter a valid email</span>
    </mat-form-field> 
  <br>
    <mat-form-field> 
        <input type="password" placeholder="password" formControlName="password" name="password" matInput pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])([a-zA-Z0-9]{6,})$">
        <span *ngIf="myform.controls.password.dirty&&myform.controls.password.invalid">password cannot be empty</span>
        <div *ngIf="myform.controls.password.dirty&&myform.controls.password.errors?.pattern">
            <span >Passwords must contain:
                <li>a minimum of 1 lower case letter</li>
                <li>a minimum of 1 upper case letter</li>
                <li>a minimum of 4 numeric character</li>
                 </span>
                </div>
    </mat-form-field> <br> 
    <button type="submit" value="login" [disabled]="myform.invalid">login</button>
    </form><br>
    <button mat-raised-button color="primary" (click)="toRegister($event)">register</button>
</div>
<div *ngIf="us.loggedUser.role=='user'&&cs.status.status=='open'">
    <button (click)="toShoppingpage($event)"> Continue Buying</button>
</div>
<div *ngIf="us.loggedUser.role=='user'&&cs.status.status==''">
    <button (click)="toNewShoppingpage()" >Start Buying</button>
</div>
<div *ngIf="us.loggedUser.role=='user'&&cs.status.status=='close'">
    <button (click)="toNewShoppingpage()" >Start New Buying</button>
</div>
<div *ngIf="us.loggedUser.role=='admin'"> 
    <button (click)="toShoppingpage($event)">To operating area</button>
</div>
