<div class="info">
   <h1>...קצת עלינו </h1>
   <br/>
     <h2> אנו חברה משפחתית , ששמה לה מטרה לייצר למשפחות אחרות זמן איכות משותף.
         <br>
מעבר למשחקים שתיכננו עבורכם תוכלו להנות מהחוויה של בחירת התמונות והעיצוב בצוותא.
<br>
כמו כן תוכלו לבחור באתר מגוון רחב של מזכרות ומתנות לכל המשפחה.   
</h2>
        <h1  class="david ">מוצרים זמינים: </h1>  
        <br>
        <h1>{{ys.count}} חחעא</h1>
      </div>
     <br>
     <div *ngIf="us.loggedUser.isLogged==true">
      <div *ngIf="cs.status.status==''">
         <h1>Hello {{us.loggedUser.fname}}</h1>
      <p>  Welcome to your first purchase</p>
         </div>
         
         <div *ngIf="cs.status.status=='open'">
            <h1>Hello {{us.loggedUser.fname}}</h1>
            <p> You have an active cart from date:</p>
            <p>{{cs.status.productiondate |  date :'fullDate'}}</p>
            <p>The purchase amount so far: {{cs.cartsum}}</p>
         </div>
         
         <div *ngIf="cs.status.status=='close'">
            <h1>Hello {{us.loggedUser.fname}}</h1>
            
            <p>{{cs.status.productiondate |  date :'fullDate'}}</p>
         </div>

      </div>
   
  